body {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.container{
  width: 100%;
  max-width: 1440px;
  padding: 15px 0px;
  margin: 0 auto;
  border: 1px solid; /*Не забыть стереть*/
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.logo{
  float: left;
  padding-left: 140px;
}

.menu {
  float: right;
}

.button_group {
  float: right;
  padding-right: 140px;
}

nav li {
  display: inline-block;
}

/*nav a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}*/

.col-1-2 {
  width: 50%;
  float: left;
}

.col-1-2 li {
  display: inline-block;
}

li a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}

div .container {

  padding: 0px;
}

@keyframes clr
{
  0%   {background-image: url('../img/image.png');}
  33%  {background-image: url('../img/image 2.png');
        }
  66% {background-image: url('../img/image 3.png') ;
        }
  100% {background-image: url('../img/image.png');}
}
.fadein
{
  width:100%;
  height: 830px;
  background-size: cover;
  background-repeat: no-repeat;
  animation: clr 20s infinite;
  animation-timing-function: steps(1, start);
}

/*Автоматическая смена картинок
@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fadein { position:relative; width:100wh; height: 830px;}
.fadein img { position:absolute; width:100%; left:0; right:0; opacity:0; animation-name: fade; animation-duration: 9s; animation-iteration-count: infinite; }
.fadein img:nth-child(1) { animation-delay: 0s;  }
.fadein img:nth-child(2) { animation-delay: 3s;  }
.fadein img:nth-child(3) { animation-delay: 6s;  }
*/
