body {
  font-size: 14px;
  line-height: 17px;
  color: rgba(31, 32, 65, 0.5);
}

.container{
  width: 100%;
  max-width: 1440px;
  padding: 15px 140px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.logo{
  float: left;
}

.menu {
  float: right;
}

.button_group {
  float: right;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: rgba(31, 32, 65, 0.5);
}
